/* CREDITS TO IRONVEIL.ORG FOR FONT AND INSPIRATION */

@font-face {
    font-family: meow;
    src: url(TopazPlus.ttf);
}

body {
    font-family: meow;
    background-color: black;
    color: white;
}


.container {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
    filter: blur(0.4px);
}

.content {
    position: relative;
    color: #fff;
    text-align: center;
    padding: 20px;
    z-index: 1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
	user-select: none;
    transition: opacity 3s ease; 
}

.glitch {
    all: inherit;
    color: white;
    animation: glitch 0.010s infinite;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

.top {
    text-align: center;
}

.border {
    line-height: 8px;
}

img {
    opacity: 0.7;
}

.socials {
    animation: Flicker 0.01s infinite;
}

#telegram a {
    transition: all 0.2s ease;
    text-decoration: none;
    color: #c3c3c3;
}

#telegram a:hover {
    color: #058bd8;
    text-shadow: 0 0 2px #058bd8, 0 0 4px #058bd8, 0 0 6px #058bd8; 
}

#dbin a {
    transition: all 0.2s ease;
    text-decoration: none;
    color: #c3c3c3;
}

#dbin a:hover {
    color: #660000;
    text-shadow: 0 0 2px #660000, 0 0 4px #660000, 0 0 6px #660000; 
}

#currentSong {
    animation: SongFlicker 0.01s infinite;
    color: rgb(63, 110, 124);
}

.Flicker {
    color: #c3c3c3;
    animation: Flicker 0.01s infinite;
}

@keyframes SongFlicker {
    0%, 20%, 22%, 29%, 35%, 76%, 81%, 100% {
        opacity: 1;
        text-shadow: 0 0 2px rgb(63, 110, 124), 0 0 4px rgb(63, 110, 124), 0 0 6px rgb(63, 110, 124);
    }
    15%, 20%, 55% {
        opacity: 0.7;
        text-shadow: none;
    }
    20%, 60% {
        opacity: 0.85;
        text-shadow: 0 0 1px rgb(131, 0, 0), 0 0 2px rgb(131, 0, 0), 0 0 3px rgb(131, 0, 0);
    }
}


@keyframes Flicker {
    0%, 20%, 22%, 29%, 35%, 76%, 81%, 100% {
        opacity: 1;
        text-shadow: 0 0 2px #c3c3c3, 0 0 4px #c3c3c3, 0 0 6px #c3c3c3;
    }
    15%, 20%, 55% {
        opacity: 0.7;
        text-shadow: none;
    }
    20%, 60% {
        opacity: 0.85;
        text-shadow: 0 0 1px #c3c3c3, 0 0 2px #c3c3c3, 0 0 3px #c3c3c3;
    }
}

@keyframes glitch {
    0% {
      transform: translate(0);
    }
    10% {
      transform: translate(-0.5px, 0.5px);
    }
    20% {
      transform: translate(-0.5px, -0.5px);
    }
    30% {
      transform: translate(0.5px, 0.5px);
    }
    40% {
      transform: translate(0.5px, -0.5px);
    }
    50% {
      transform: translate(-0.5px, 0.5px);
    }
    60% {
      transform: translate(-0.5px, -0.5px);
    }
    70% {
      transform: translate(0.5px, 0.5px);
    }
    80% {
      transform: translate(0.5px, -0.5px);
    }
    90% {
      transform: translate(-0.5px, 0.5px);
    }
    100% {
      transform: translate(0);
    }
  }